docs/
product/
intermediate/
bin/

# Projects (cmake binary trees)
msvc*/
mingw*/
gnu*/
make*/
nmake*/

Makefile
Makefile.*
*.pdb
*.obj
*.exp
*.lib
*.dll
*.rc
*.so*
*.[ao]

#cmake binary trees
build/
*-build/

#QtCreator user files
*.user*

#QtCreator qutosaves
*.autosave

#MinGW
object_script.*

#MS VS skipped files
*.opensdf
*.sdf
*.suo
*.vcxproj.user
ipch/

#Generated (by Qt MOC) files in MS VS
GeneratedFiles/
